@import 'widgets/menu';

.widget {
  margin-bottom: 30px;

  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      border-bottom: 1px solid #f7f7f7;
      padding: 10px;

      ul, ol {
        padding: initial;
        margin: initial;

        li {
        }
      }
    }
  }

  .widget-title {
    text-align: right;
    border-right: 5px solid #000;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.3rem;
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-top: 0;

    &::after {
      content: "";
      position: relative;
      bottom: -15px;
      width: 100%;
      border-bottom: 3px dotted #f7f7f7;
      height: 1px;
      display: block;
    }
  }
}

@include media-breakpoint-up(md) {
  .widget {
    margin-bottom: 60px;
  }
}