body.home {
  .rev_slider {
    min-height: 594px;
  }
}

#primary {
  width: 100%;
}

.navigation.post-navigation {
  border-top: 3px dotted #eee;
  margin-top: 30px;
  padding-top: 20px;
}

.entry-header {
  .entry-title {
    text-align: center;
    border-bottom: 4px dotted #f7f7f7;
    border-top: 4px dotted #f7f7f7;
    padding: 20px 0;
    margin-top: 0;
  }
}

.vc_col-sm-12 {
  .wpb_wrapper {
    > .vc_custom_heading {
      border-bottom: 4px double #f7f7f7;
      padding: 20px 0;
    }
  }
}


@include media-breakpoint-up(md) {
  #primary.sidehandle {
    padding-right: 30px;
    border-right: 1px solid #f7f7f7;
  }

  #side {
    padding-left: 30px;
  }
}