body {
  background-color: #efeff0;
  background-image: url('../images/paper_fibers.png');
  background-repeat: repeat;
  background-position: top center;
}

h1, h2, h3, .h1, .h2, .h3 {
  letter-spacing: -2px;
}