/**
variables
 */


// type

$global-font-size: 0.85rem;

$line-height: 1.8;

$heading-top : 2rem;
$heading-bottom: 2rem;

// primary navigation

$menubg: transparent;
$menuhoverbg: $primary;
$menufontcolor: $black;
$menufonthovercolor: $primary;
$menubuttonsize: 45px;

